@import 'bootstrap/scss/functions';
@import './utils/variables';
@import './utils/theme';
@import 'bootstrap';

// base
@import './base/base';

// mixin

// components
@import './components/button-group';

// layout
@import './layout/header';

// pages
@import './pages/home';


.title-underline {
  text-decoration: underline;
  text-decoration-color: var(--bs-primary);
}

.btn-outline-primary {
  color: var(--bs-dark);
  border: none;
  border-bottom: 3px solid var(--bs-primary);
}

.btn-outline-dark {
  border: none;
  border-bottom: 3px solid var(--bs-dark);
}

// Color

// Light
// background: #F5F3E7;           $body-bg
// secondary-background: #E9E4D8; $body-secondary-bg? $secondary
// accent: #D98863;               $primary
// text: #3A3A3A;                  $body-color
// secondary-text: none;

// Dark
// background: #151515;
// secondary-background: #242424; 
// accent: #F5A623;
// text: #FFFFFF;
// secondary-text: #D9D9D9;