html, body {
  height: 100%;
}

body {
  height: 100vh;
	font-family: "Space Grotesk", "Noto Sans TC", sans-serif;
	line-height: 1.5;
	font-size: $h6-font-size;
}

.container {
	max-width: 1142px; // 65*12 + 30*11 + 16*2
	padding-inline: 16px;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

code {
	font-family: "Roboto Mono", monospace;
	color: $success;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}

p {
	margin-bottom: 0;
}

ul, li {
	padding: 0;
	margin: 0;
}