.header-container {
  background-size: 40%;
  background-position-x: 100%;

  @media (min-width: 576px) {
    background-position: 90% 0%;
  }
}

.language-toggler {
  @media (min-width: 576px){
    width: 96px;
  }
}
